<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard"> <!-- standard or admin -->
        <route id="fr_ubuntu" frontName="fr_ubuntu">
            <module name="Ubuntu_Curd" />
        </route>
    </router>
</config>